[flake8]
max-line-length = 120
exclude =
    .git
    .venv
    __pycache__
    .mypy_cache
    docs
    build
    dist
    out
    external
    playground

ignore = N805,W503,N818,E203
per-file-ignores=__init__.py:F401,F403

