**/.idea/
**/.github/
**/.vscode/
**/.vscode-test/

**/.gitignore

# node
src/
node_modules/
webpack.config.js
.yarnrc
.eslintrc.json
tsconfig.json
vscode-client
.eslintignore
.prettier*
eslint.config.mjs

# python
**/build/
**/.ruff_cache/
**/.hatch/
**/.venv/
.flake8
mypy.ini
log.ini
pyproject.toml
*.lock

**/tests/
**/dist/

**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/test-results/

**/playground/

# svg files
#**/*.svg

# coverage
.coverage
coverage.xml
.python-version

# docs
docs/

# others
scripts/

.robotcode_cache/

.pre-commit-config.yaml
.devcontainer/

robotcode/
packages/
bundled/libs/bin/

cliff.toml
**/pyproject.toml
mkdocs.yml
hatch.toml
bundled_requirements.txt

robot.toml
.robotignore

esbuild.mjs
