.idea
.github
.vscode
.vscode-test

.gitignore

# node
src/
node_modules/
webpack.config.js
.yarnrc
.eslintrc.json
tsconfig.json


# python
.flake8
mypy.ini
log.ini
pyproject.toml
*.lock

tests
dist
**/__pycache__
**/.mypy_cache
**/.pytest_cache
