# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\develop\robot\robotcode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
